/* Monospace */
@font-face {
    font-family: 'Source Code Pro Light';
    src: url('../assets/fonts/SourceCodePro-Light.otf');
    font-weight: normal;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: 'Calendas Plus';
    src: url('../assets/fonts/calendas_plus-webfont.eot');
    src: url('../assets/fonts/calendas_plus-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/calendas_plus-webfont.woff2') format('woff2'),
         url('../assets/fonts/calendas_plus-webfont.woff') format('woff'),
         url('../assets/fonts/calendas_plus-webfont.ttf') format('truetype'),
         url('../assets/fonts/calendas_plus-webfont.svg#calendas_plusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Calendas Plus';
    src: url('../assets/fonts/calendas_plus_bold-webfont.eot');
    src: url('../assets/fonts/calendas_plus_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/calendas_plus_bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/calendas_plus_bold-webfont.woff') format('woff'),
         url('../assets/fonts/calendas_plus_bold-webfont.ttf') format('truetype'),
         url('../assets/fonts/calendas_plus_bold-webfont.svg#calendas_plusbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
